---
layout: half
---
{% if site.title %}
<h1 class="pageTitle">{{ site.title }}</h1>
{% endif %}
{% if site.content %}
<p class="pageContent">{{ site.content }}</p>
{% endif %}
<p class="pageContent">В предлагаемом плане каждый день читаются и Ветхий, и Новый заветы, а так же Псалмы и Притчи.
  Он доступен для скачивания как в виде модуля для приложения 
  <a href="https://mybible.zone" title="сайт приложения MyBible" target="_blank">MyBible</a>,
  так и в виде <del>трёх вариантов</del> пока одного варианта для печати (в формате PDF):</p>
{% include downloads.html %}
<p class="pageContent">В приложении <a href="https://mybible.zone" title="сайт приложения MyBible" target="_blank">MyBible</a>
  план уже доступен под названием
  <b><code>OY-p</code></b> в списке доступных планов (внутри приложения), и для того чтобы начать им пользоваться вам
  <b>не нужно</b> скачивать его с этого сайта.</p>
<p class="pageContent">В приложении <a href="https://bible.com" title="сайт приложения YouVersion" target="_blank">YouVersion</a> план
  доступен <a href="https://my.bible.com/ru/reading-plans/60-the-one-year-bible" title="One Year Bible Reading Plan on YouVersion">здесь</a>.</p>
<p class="pageContent">Дополнительные материалы см.
  <a href="https://github.com/novchurch/plan" title="Хранилище исходных кодов сайта">здесь</a>.</p>
<p class="pageContent">План, которым пользовались в прошлые годы, см.
  <a href="https://novchurch.github.io/plan21" title="Сайт плана которым пользовались в прошлые годы">здесь</a>.</p>
{{ content }}
